*{
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Mr Dafoe', cursive;
    color: rgb(255, 238, 0);
    font-size: 5rem;
    text-shadow: 0.2rem 0.2rem rgba(255, 238, 0, 0.788);
}

/*#header {
    background-image: url("header_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}*/

#content {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

